<article>
  <h2>About me</h2>
  <p>
    I'm Andrew Toups. I'm a karaoke host and I love programming web pages!
  </p>
  <p>
    Please let me design and build your web site!
  </p>
  <h3>Contact</h3>
  <p>
    <ul>
      <li><a target="_blank" href="mailto:mistertoups@gmail.com">mistertoups@gmail.com</a></li>
      <li><a target="_blank" href="https://www.facebook.com/mistertoups">fb</a></li>
      <li><a target="_blank" href="https://www.instagram.com/andonuts/">ig</a></li>
      <li><a target="_blank" href="https://github.com/andrewtoups">github</a></li>
    </ul>
  </p>
</article>
