.pseudo-clone-before {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
  }
}

.pseudo-clone-after {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    pointer-events: none;
  }
}

@mixin page-bg-radial($color) {
  background-image:
    radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,$color 100%);
  background-size: cover;
  background-position: center;
}

.threedee-shadow {
  position: absolute;
  left: 0; right: 0;
  bottom: -0.5em;

  color: transparent;
  text-shadow: 0px 0px 2px $brown;
  transform: rotateX(64deg) scale(.9);
  z-index: -1;
  filter: saturate(0%); //ensure it's colorless for safari

  transition: all $animation-timing $animation-ease;

  &:hover {
    font-size: .8em;
    bottom: -0.6em;
  }

  &.active {
    bottom: 0;
    transition: all 500ms ease-in-out;
    transform: rotateX(0deg) scale(1);
    &:hover {
      bottom: 0;
      font-size: 1em;
    }
  }
}

.inline-layout {
  font-size: 0;
  > * {
    font-size: $font-size-base;
    min-height: 100%;
    display: inline-block;
    @include xs {
      min-height: inherit;
      display: inherit;
    }
    vertical-align: top;
  }
}

@mixin engrave($color, $intensity:25%) {
  text-shadow: -1px -1px 0px lighten($color, $intensity), 1px 1px 0px darken($color, $intensity);
}

@mixin stain($color, $intensity:30%){
  text-shadow: 0px 2px 2px darken($color, $intensity);
}

.placeholder {
  &:after, &:before {
    content: '!!!now printing :3c!!!';
    display: block;
    margin: 1em auto;
    text-align: center;
    font-size: 70%;
    color: darken($background-color-content, 10%);
    @include engrave(darken($background-color-content, 15%), 20%);
  }
}

@mixin shadow-mask($outer-color:black, $depth:5%, $additional-backgrounds:none){
  @extend .pseudo-clone-after;
  &:after {
    @if $additional-backgrounds == none {
      background: -moz-linear-gradient(top, rgba($outer-color,1) 0%, rgba($outer-color,0) $depth, rgba($outer-color,0) (100%-$depth), rgba($outer-color,1) 100%);
      background: -webkit-linear-gradient(top, rgba($outer-color,1) 0%,rgba($outer-color,0) $depth,rgba($outer-color,0) (100%-$depth),rgba($outer-color,1) 100%);
      background: linear-gradient(to bottom, rgba($outer-color,1) 0%,rgba($outer-color,0) $depth,rgba($outer-color,0) (100%-$depth),rgba($outer-color,1) 100%);
    }
    @else {
      background: $additional-backgrounds, -moz-linear-gradient(top, rgba($outer-color,1) 0%, rgba(0,0,0,0) $depth, rgba(0,0,0,0) (100%-$depth), rgba($outer-color,1) 100%);
      background: $additional-backgrounds, -webkit-linear-gradient(top, rgba($outer-color,1) 0%,rgba(0,0,0,0) $depth,rgba(0,0,0,0) (100%-$depth),rgba($outer-color,1) 100%);
      background: $additional-backgrounds, linear-gradient(to bottom, rgba($outer-color,1) 0%,rgba(0,0,0,0) $depth,rgba(0,0,0,0) (100%-$depth),rgba($outer-color,1) 100%);
    }
  }
}

$content-area-backgrounds: url(../images/flowers-gold.png), url(../images/flowers-gold.png);
.content-area-background-scheme {
  background-blend-mode: multiply, darken;
  background-size: 400px, 50px;
  background-position: top center;
}

.warning {
  &:after { content: "update your browser plz"; }
}
