$logo-greeting-size: 3.6em;
$logo-greeting-pos: calc(50vh - 1em);
$logo-slim-height: 1em;

.logo {
  display: inline-block;
  text-decoration: none;
  font-family: 'Windsong', sans-serif;
  font-weight: initial;
  text-align: center;
  color: $pink;
  opacity: 1;

  position: relative;
  perspective: 400px;

  transition: all $animation-timing $animation-ease;

  &:after {
    content: attr(data-content);
    opacity: 1;
    transition: all $animation-timing $animation-ease;
    @extend .threedee-shadow;
  }
}

.slim-logo {
  font-family: 'Windsong';
  font-style: italic;
  font-weight: 100;
  color: $v-slim-red;
  height: $logo-slim-height;
  font-size: 5em;
  @include sm { font-size: 4em; }
  @include xs { font-size: 3em; }
  @include stain($background-color-content);
  margin: 0;
}

.greeting {
  font-size: $logo-greeting-size;
  @include xs { font-size: 2em; }
  margin-top: $logo-greeting-pos;

  transition: margin-top $animation-timing $animation-ease 0,
              opacity $animation-timing $animation-ease $animation-timing;

  &:after { transition: all $animation-timing $animation-ease; }

  &:hover {
    margin-top: calc(#{$logo-greeting-pos} - .1em);
    transition: margin-top $animation-timing $animation-ease 0,
                opacity $animation-timing $animation-ease $animation-timing;

    &:after { transition: all $animation-timing $animation-ease; }
  }

  &.active {
    opacity: 0;
    transition: opacity $animation-timing $animation-ease $animation-timing;
  }

  &.active:hover {
    margin-top: calc(#{$logo-greeting-pos} - .1em);
    transition: margin-top $animation-timing $animation-ease 0,
                opacity $animation-timing $animation-ease $animation-timing;
  }
}
