.music-album {
  h3 {
    padding-left: 0;
    text-align: center;
  }
  .album-title {
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .artist-name {
    margin: 10px 0 0 0;
    text-align: right;
    &:before {
      content:"by ";
      color: black;
      font-size: 75%;
    }
  }
  .music-song {
    .song-name { margin: 10px 0; }
    audio { width: 100%; }
    &:only-child {
      list-style: none;
    }
  }
}
