nav {
  text-align: center;
  font-weight: lighter;
  font-size: 3em;

  > ul {
    display: inline-block;

    > li {
      float: left;
      margin: 0 1em;

      > a {
        color: $v-slim-red;
        transition: text-shadow $animation-timing/3 $animation-ease,
                    color $animation-timing/3 $animation-ease;
        &:hover {
          text-shadow: 0px 1px 0px $v-slim-maroon-deep;
          transition: text-shadow $animation-timing/3 $animation-ease,
                      color $animation-timing/3 $animation-ease;
        }
        &.active, &.active:hover {
          color: lighten($v-slim-maroon-fade, 40%);
          text-shadow: none;
          text-decoration: underline;
          transition: text-shadow $animation-timing/3 $animation-ease,
                      color $animation-timing/3 $animation-ease;
        }
      }
    }
  }
}
