$splash-pos: calc(50vh - 1em);

.splash {
  background-color: $cream;
  // @include page-bg-radial(rgba($pink-light,.25));
  @include xs { &:after, &:before { background-size: 200%;} }

  transition: all, $animation-timing, $animation-ease;
  position: relative;

  &:before, &:after {
    // @extend .pseudo-clone;
    z-index: -1;
  }
  &:before {
    background-color: $cream;
    // @include page-bg-radial(rgba($pink-light,.25));

    opacity: 0;
    transition: all, $animation-timing, $animation-ease;
  }
  &:after {
    background-color: $cream;
    // @include page-bg-radial(rgba($pink-light,.75));

    opacity: 1;
    transition: all, $animation-timing, $animation-ease;
  }

  &.nav:before { opacity: 1; transition: all, $animation-timing, $animation-ease; }
  &.nav:after { opacity: 0; transition: all, $animation-timing, $animation-ease; }
  // &.nav:before, &.nav:after { transition: all, $animation-timing, $animation-ease; }

}

.greeting {
  display: inline-block;
  text-decoration: none;
  font-family: 'windsong', cursive;
  font-weight: initial;
  font-size: $size;
  @include xs { font-size: 2em; }
  text-align: center;
  color: $pink;
  // text-shadow: 1px 1px 0px $pink-light, -1px -1px 0px $brown-light;

  margin-top: calc(#{$splash-pos});
  position: relative;
  perspective: 400px;

  transition: all $animation-timing $animation-ease;

  &:after {
    content: attr(data-content);
    color: transparent;
    position: absolute;
    left: 0; right: 0;
    bottom: -0.5em;
    text-shadow: 0px 0px 2px $brown;
    transform: rotateX(80deg);
    font-size: .9em;
    z-index: -1;
    filter: saturate(0%); //ensure it's colorless for safari

    transition-property: all;
    transition-duration: $animation-timing;
    transition-timing-function: $animation-ease;
  }

  &:hover {
    margin-top: calc(#{$splash-pos} - .1em);
    transition: all $animation-timing $animation-ease;
    &:after {
      transition-property: all;
      transition-duration: $animation-timing;
      transition-timing-function: $animation-ease;
      font-size: .8em;
      bottom: -0.6em;
    }
  }

}
