$pink: #f29191;
$pink-light: #F2A999;
$brown: #735851;
$brown-light: #A68C6D;
$cream: #F2E1AC;
$white-off: #faf7e8;

$v-slim-gold:         #afa17e;
$v-slim-maroon-fade:  #783538;
$v-slim-gold-fade:    #796d43;
$v-slim-mustard:      #ac9d11;
$v-slim-maroon-deep:  #4b261d;
$v-slim-red:          #9e302e;
$v-slim-red-fade:     #884752;

$v-slim-carton:       #dbceb6;

$animation-ease: ease-in-out;
$animation-timing: 500ms;

$background-color-home: lighten($white-off, .1);
$background-color-content: $v-slim-carton;
$font-size-base: 12px;
